body {
    font-family: "Playwrite GB S", cursive;
    background-image: url(assets/bg0.png);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10%;
    text-shadow: 5px 5px rgb(255, 0, 0);
    color: rgb(255, 255, 255);
    transition: ease 0.75s;

}

button {
    font-family: "Playwrite GB S", cursive;
}

button:hover {
    -webkit-text-stroke: 1px;
    color: red;
}

.pass {
    display: none;
    
}

.pass.ativo {
    display:block;
    background-color: rgba(0, 0, 0, 0.308);
    

}

